@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&display=swap");
.main {
    text-align: center;
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
    margin-top: 0;
    position: relative;
    .wrap{
        position: relative;
        width: 100vw;
        height: 100vh;
        .wrapLayer{
            position: absolute;
            inset: 0;
            clip-path: inset(0);
            .parallax {
                position: fixed;
                inset: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                &.bg01{
                    background-image: url(/bg.jpg);
                }
                .titleBox{
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    h1{
                        font-family: "Roboto Slab", serif;
                        color: #333;
                        font-size: 5rem;
                        letter-spacing: 5px;
                        @media (max-width: 574px) {
                            font-size: 2.5rem;
                        }
                    }
                    .chevronBox{
                        position: absolute;
                        bottom:10%;
                        left: 50%;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        .chevron{
                            position: absolute;
                            width: 28px;
                            height: 8px;
                            opacity: 0;
                            transform: scale3d(0.5, 0.5, 0.5);
                            animation: move 3s ease-out infinite;
                            &:first-child {
                                animation: move 3s ease-out 1s infinite;
                            }
                            &:nth-child(2) {
                                animation: move 3s ease-out 2s infinite;
                            }
                            &:before,&:after{
                                content:'';
                                position: absolute;
                                top: 0;
                                height: 100%;
                                width: 51%;
                                background: #333;
                            }
                            &:before {
                                left: 0;
                                transform: skew(0deg, 30deg);
                            }
                            &:after {
                                right: 0;
                                width: 50%;
                                transform: skew(0deg, -30deg);
                            }
                            @keyframes move {
                                25% {
                                  opacity: 1;
                              
                                }
                                33% {
                                  opacity: 1;
                                  transform: translateY(30px);
                                }
                                67% {
                                  opacity: 1;
                                  transform: translateY(40px);
                                }
                                100% {
                                  opacity: 0;
                                  transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
                                }
                            }
                        }
                        .text {
                            display: block;
                            margin-top: 75px;
                            margin-left: -30px;
                            font-size: 12px;
                            color: #333;
                            text-transform: uppercase;
                            white-space: nowrap;
                            opacity: .25;
                            animation: pulse 2s linear alternate infinite;
                        }
                        @keyframes pulse {
                            to {
                              opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .outer{
        overflow: hidden;
        .inner{
            height: 100vh;
            width: 600vw;
            display: flex;
            flex-direction: row;
            position: relative;
            .section{
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                @media (max-width: 767px) {
                    flex-direction: column;
                    padding: 0 20px;
                }
                .box{
                    max-width: 500px;
                    @media (max-width: 1024px) {
                        max-width: 400px;
                    }
                    &.left{
                        padding-right: 50px;
                        @media (max-width: 767px) {
                            padding-right: 0;
                            margin-bottom: 30px;
                        }
                    }
                    h2{
                        text-align: justify;
                        margin-bottom: 20px;
                        a{
                            color:#333;
                            font-size: 15px;
                            font-weight: bold;
                            position: relative;
                            &::after{
                                content:'';
                                position: absolute;
                                top: 50%;
                                right: -20px;
                                transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                background-image: url(/newWindowG.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                    p{
                        text-align: justify;
                        &.skill{
                            margin-bottom: 15px;
                            font-size: 15px;
                            font-weight: 500;
                        }
                        &.read{
                            font-size: 14px;
                            a{
                                color:#333;
                                text-decoration: underline;
                                display: block;
                                margin-top: 5px;
                            }
                        }
                        &.foreword{
                            text-align: center;
                            font-weight: bold;
                            font-size: 1rem;
                            margin-top: 5px;
                        }
                    }
                    .moc {
                        position: relative;
                        border: 15px solid rgb(3, 3, 3, 1);
                        box-sizing: border-box;
                        border-radius: 20px 20px 0px 0px;
                        max-width: 500px;
                        margin: auto;
                    }
                    .view {
                        aspect-ratio: 16 / 9;
                        overflow: scroll;
                        img{
                            width: 100%;
                            vertical-align: bottom;
                        }
                    }
                    .plate{
                        max-width: 500px;
                    }
                }
            }
        }
    }
    .outer02{
        overflow: hidden;
        padding-top: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/bg02.jpg);
        background-attachment: fixed;
        .inner02{
            height: 400vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            position: relative;
            .section{
                height: 100vh;
                width: 100vw;
                max-width: 1000px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                @media (max-width: 1024px) {
                    max-width: 800px;
                }
                @media (max-width: 767px) {
                    padding:0 20px;
                    display: block;
                }
                .title02 {
                    grid-column: 1 / 5;
                    grid-row: 1;
                    position: relative;
                    z-index: 2;
                    color:#333;
                    span{
                        width: 100%;
                        text-align: justify;
                        color:#fff;
                        display: block;
                        h2{
                            font-size: 2rem;
                            margin-bottom: 30px;
                            text-align: justify;
                            @media (max-width: 767px) {
                                text-align: center;
                            }
                        }
                        p{
                            font-size: 14px;
                            max-width: 500px;
                            margin: auto;
                            text-align: justify;
                            @media (max-width: 767px) {
                                max-width:unset;
                                text-align: center;
                            }
                            &.skill{
                                margin-bottom: 15px;
                                font-size: 15px;
                                font-weight: 500;
                            }
                            &.read{
                                font-size: 14px;
                                margin-bottom: 10px;
                            }
                        }
                        a{
                            color:#333;
                            font-size: 15px;
                            font-weight: bold;
                            position: relative;
                            text-decoration: underline;
                            color:#fff;
                            &::after{
                                content:'';
                                position: absolute;
                                top: 50%;
                                right: -20px;
                                transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                background-image: url(/newWindowF.svg);
                                background-repeat: no-repeat;
                                background-size: contain;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                    span:not(:first-child) {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                    }
                }
                .images {
                    grid-column: 4 / -1;
                    grid-row: 1;
                    position: relative;
                    @media (max-width: 767px) {
                        margin-top: 50px;
                    }
                    @media (max-width: 480px) {
                        margin-top: 5px;
                    }
                    img {
                        width: 80%;
                        height: auto;
                        @media (max-width: 767px) {
                            width: 100%;
                            max-width: 500px;
                            margin: auto;
                        }
                        &:not(:first-child) {
                            position: absolute;
                            top: 20px;
                            right: 0;
                            @media (max-width: 767px) {
                               left:0;
                            }
                        }
                    }
                }
            }
        }
    }
    .sectionLast{
        padding: 20px;
        font-size: 3.5rem;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/bg02.jpg);
        background-attachment: fixed;
        a{
            display: block;
            text-decoration:none;
            color: #f0f5f2;
            padding: 20px 0;
            background: transparent;
            border: 1px solid #aaa;
            font-size: 1.4rem;
            font-family: "Roboto Slab", serif;
            cursor: pointer;
            transition: all 0.5s;
            width: 300px;
            margin: auto;
            text-align: center;
            &:hover {
                background: #f0f5f2;
                color: #494646;
                border: 1px solid #494646;
            }
        }
    }
}