@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&display=swap");
.main {
  text-align: center;
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3, "メイリオ", Meiryo, sans-serif;
  margin-top: 0;
  position: relative;
}
.main .wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.main .wrap .wrapLayer {
  position: absolute;
  inset: 0;
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
.main .wrap .wrapLayer .parallax {
  position: fixed;
  inset: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .wrap .wrapLayer .parallax.bg01 {
  background-image: url(/bg.jpg);
}
.main .wrap .wrapLayer .parallax .titleBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .wrap .wrapLayer .parallax .titleBox h1 {
  font-family: "Roboto Slab", serif;
  color: #333;
  font-size: 5rem;
  letter-spacing: 5px;
}
@media (max-width: 574px) {
  .main .wrap .wrapLayer .parallax .titleBox h1 {
    font-size: 2.5rem;
  }
}
.main .wrap .wrapLayer .parallax .titleBox .chevronBox {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.main .wrap .wrapLayer .parallax .titleBox .chevronBox .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}
.main .wrap .wrapLayer .parallax .titleBox .chevronBox .chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}
.main .wrap .wrapLayer .parallax .titleBox .chevronBox .chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}
.main .wrap .wrapLayer .parallax .titleBox .chevronBox .chevron:before, .main .wrap .wrapLayer .parallax .titleBox .chevronBox .chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #333;
}
.main .wrap .wrapLayer .parallax .titleBox .chevronBox .chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.main .wrap .wrapLayer .parallax .titleBox .chevronBox .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.main .wrap .wrapLayer .parallax .titleBox .chevronBox .text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  -webkit-animation: pulse 2s linear alternate infinite;
          animation: pulse 2s linear alternate infinite;
}
@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
.main .outer {
  overflow: hidden;
}
.main .outer .inner {
  height: 100vh;
  width: 700vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.main .outer .inner .section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .main .outer .inner .section {
    flex-direction: column;
    padding: 0 20px;
    gap: 30px;
  }
}
.main .outer .inner .section .box {
  max-width: 500px;
}
@media (max-width: 1024px) {
  .main .outer .inner .section .box {
    max-width: 400px;
  }
}
.main .outer .inner .section .box.left {
  padding-right: 50px;
  width: 100%;
  overflow-wrap: break-word;
}
@media (max-width: 800px) {
  .main .outer .inner .section .box.left {
    padding-right: 0;
    min-height: 220px;
  }
}
.main .outer .inner .section .box h2 {
  text-align: justify;
  margin-bottom: 20px;
}
.main .outer .inner .section .box h2 a {
  color: #333;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  text-decoration: underline;
  color: #3264d6;
}
.main .outer .inner .section .box h2 a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-image: url(/newWindowG.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
}
.main .outer .inner .section .box p {
  text-align: justify;
}
.main .outer .inner .section .box p.skill {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
}
.main .outer .inner .section .box p.read {
  font-size: 14px;
}
.main .outer .inner .section .box p.read a {
  color: #333;
  text-decoration: underline;
  display: block;
  margin-top: 5px;
}
.main .outer .inner .section .box p.foreword {
  font-weight: bold;
  font-size: 0.3rem;
  margin-top: 5px;
  color: #f44444;
}
.main .outer .inner .section .box .moc {
  position: relative;
  border: 15px solid rgb(3, 3, 3);
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  max-width: 500px;
  margin: auto;
}
.main .outer .inner .section .box .view {
  aspect-ratio: 16/9;
  overflow: scroll;
  cursor: s-resize;
}
.main .outer .inner .section .box .view img {
  width: 100%;
  vertical-align: bottom;
}
.main .outer .inner .section .box .plate {
  max-width: 500px;
}
.main .outer02 {
  overflow: hidden;
  padding-top: 100px;
}
.main .outer02 .inner02 {
  height: 400vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main .outer02 .inner02 .section {
  height: 100vh;
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}
@media (max-width: 1024px) {
  .main .outer02 .inner02 .section {
    max-width: 800px;
  }
}
@media (max-width: 767px) {
  .main .outer02 .inner02 .section {
    padding: 0 20px;
    display: block;
  }
}
.main .outer02 .inner02 .section .title02 {
  grid-column: 1/5;
  grid-row: 1;
  position: relative;
  z-index: 2;
  color: #333;
}
.main .outer02 .inner02 .section .title02 span {
  width: 100%;
  text-align: justify;
  color: #fff;
  display: block;
}
.main .outer02 .inner02 .section .title02 span h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: justify;
}
@media (max-width: 767px) {
  .main .outer02 .inner02 .section .title02 span h2 {
    text-align: center;
  }
}
.main .outer02 .inner02 .section .title02 span p {
  font-size: 14px;
  max-width: 500px;
  margin: auto;
  text-align: justify;
}
@media (max-width: 767px) {
  .main .outer02 .inner02 .section .title02 span p {
    max-width: unset;
    text-align: center;
  }
}
.main .outer02 .inner02 .section .title02 span p.skill {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
}
.main .outer02 .inner02 .section .title02 span p.read {
  font-size: 14px;
  margin-bottom: 10px;
}
.main .outer02 .inner02 .section .title02 span a {
  color: #333;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  text-decoration: underline;
  color: #fff;
}
.main .outer02 .inner02 .section .title02 span a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  background-image: url(/newWindowF.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13px;
  height: 13px;
}
.main .outer02 .inner02 .section .title02 span:not(:first-child) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.main .outer02 .inner02 .section .images {
  grid-column: 4/-1;
  grid-row: 1;
  position: relative;
}
@media (max-width: 767px) {
  .main .outer02 .inner02 .section .images {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  .main .outer02 .inner02 .section .images {
    margin-top: 5px;
  }
}
.main .outer02 .inner02 .section .images img {
  width: 80%;
  height: auto;
}
@media (max-width: 767px) {
  .main .outer02 .inner02 .section .images img {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
}
.main .outer02 .inner02 .section .images img:not(:first-child) {
  position: absolute;
  top: 20px;
  right: 0;
}
@media (max-width: 767px) {
  .main .outer02 .inner02 .section .images img:not(:first-child) {
    left: 0;
  }
}
.main .sectionLast {
  padding: 20px;
  font-size: 3.5rem;
  position: relative;
}
.main .sectionLast a {
  display: block;
  text-decoration: none;
  color: #f0f5f2;
  padding: 20px 0;
  background: transparent;
  border: 1px solid #aaa;
  font-size: 1.4rem;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
  transition: all 0.5s;
  width: 300px;
  margin: auto;
  text-align: center;
}
.main .sectionLast a:hover {
  background: #f0f5f2;
  color: #494646;
  border: 1px solid #494646;
}
.main .bg02 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/bg02.jpg);
  background-attachment: fixed;
}
@media (max-width: 767px) {
  .main .bg02 {
    background-image: url(/bg02.jpg);
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: contain;
  }
}
/*# sourceMappingURL=Portfolio.module.css.map */