@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&display=swap");
.main {
    text-align: center;
    font-family: "Roboto Slab", serif;
    margin-top: 0;
    background-color: #000;
    position: relative;
    .titleBox{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: white;
            font-size: 5rem;
            letter-spacing: 5px;
        }
    }
    .outer{
        overflow: hidden;
        .inner{
            height: 100vh;
            width: 400vw;
            display: flex;
            flex-direction: row;
            position: relative;
            .section{
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                h2{
                    color:#fff;
                }
            }
        }
    }
    .outer02{
        overflow: hidden;
        .inner02{
            height: 400vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            position: relative;
            .section{
                height: 100vh;
                width: 100vw;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 1fr;
                max-width: 720px;
                margin: 0 auto;
                padding: 64px 0;
                .title02 {
                    grid-column: 1 / 5;
                    grid-row: 1;
                    position: relative;
                    font-size: 3.6rem;
                    font-weight: bold;
                    letter-spacing: 0.025em;
                    line-height: 1.1;
                    z-index: 2;
                    color:#fff;
                    span:not(:first-child) {
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                }
                .images {
                    grid-column: 4 / -1;
                    grid-row: 1;
                    position: relative;
                    
                    img {
                      width: 100%;
                      height: auto;
                      
                      &:not(:first-child) {
                        position: absolute;
                        top: 0;
                        right: 0;
                      }
                    }
                }
            }
        }
    }
    .sectionLast{
        padding: 20px;
        font-size: 3.5rem;
        a{
            display: block;
            text-decoration:none;
            color: #f0f5f2;
            padding: 1.5rem 3rem;
            background: transparent;
            border: 1px solid #aaa;
            font-size: 1.4rem;
            cursor: pointer;
            transition: all 0.5s;
            width: 150px;
            margin: auto;
            &:hover {
                background: #f0f5f2;
                color: #494646;
                border: 1px solid #494646;
            }
        }
    }
}