* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.imgWrap {
    position: relative;
    top: 40%;
    width: 1px;
    overflow: hidden;
    opacity: 0;
    margin:100px auto 0;
    &.active {
        opacity: 1;
        transition: opacity 1s, width 4s;
        max-width: 500px;
        width: 100%;
    }
    img{
        width: 100%;
        height: auto !important;
        object-fit: cover;
    }
}