.body{
    background-image: url(/space.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    .main{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        outline: none;
        .content{
            position: relative;
            width: 100%;
            height: 100%;
            a{
                display: block;
                text-decoration:none;
                position: absolute;
                bottom: 20%;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                color: #f0f5f2;
                mix-blend-mode: difference;
                padding: 1.5rem 3rem;
                background: transparent;
                border: 1px solid #aaa;
                font-size: 1.4rem;
                cursor: pointer;
                transition: all 0.5s;
                &:hover {
                    background: #f0f5f2;
                    color: #494646;
                    border: 1px solid #494646;
                }
            }
        }
    }
}